@import './reset.css';
@import './header.css';
@import './components/button.css';

:root {
    --clr-black: hwb(0 0% 100%);
    --clr-white: #fff;
    --clr-primary: #e30813;
    --clr-grey: #222;

    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--clr-black);
    color: var(--clr-white);
}